* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.main {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

.main h1 {
    font-size: 54px;
    color: black;
}

.main h2 {
    display: inline-block;
    background: brown;
    border-radius: 20px;
    margin: 6px;
    padding: 12px 5px;
    color: white;
}

button {
    margin: 6px;
    width: 12rem;
    padding: 12px 5px;
    border-radius: 20px;
    border: none;
    background-color: bisque;
    box-shadow: 1px 1px 3px black;
}

button:hover {
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   max-width: 600px;
   
}

.square {
    width: 180px;
    height: 160px;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 1px 3px 5px burlywood;
}

.mole {
    background: url(./assets/mole.png);
    background-size: cover;
    
}