* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    min-height: 100vh;
    width: 100vw;
    background-color: #292a2d;
    padding: 20px;
}

.input-box{
    border: 1px solid black;
    padding: 20px;
    margin: 15px;
    width: 60%;
}

input,textarea {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 5px;
    color: white;
    font-size: medium;
}

button {
    background:transparent;
    color: white;
    padding: 10px 12px;
    border: 1px solid white;
    cursor: pointer;
}

#notes {
    padding: 20px;
    
    width:50%;
}

.note {
    
    color: white;
    background: transparent;
    border: 1px solid white;
    display: inline-flex;
    margin: 5px;
    padding: 10px;
    align-items: center;
  
}

.del-btn {
    margin-left: 50px   ;
    height: 30px;
    align-self: center;
}

